
.Container{
    display: flex;
    background-color: rgb(231, 231, 137);
    font-size: large;
    font-weight: bold;
    justify-content: center;
    width: 100%;
}

.Container li{
    list-style: none;
    padding: 16px;
}